**/dgph
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*sync/
.sconsign.dblite
.tags*
**/.vagrant/
**/DerivedData/
Icon?
**/Pods/
**/.symlinks/
profile
xcuserdata
**/.generated/
Flutter/App.framework
Flutter/Flutter.framework
Flutter/Flutter.podspec
Flutter/Generated.xcconfig
Flutter/ephemeral/
Flutter/app.flx
Flutter/app.zip
Flutter/flutter_assets/
Flutter/flutter_export_environment.sh
ServiceDefinitions.json
Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3

# IntelliJ IDEA
.idea/

# Android
**/build/
**/*.iml
**/.gradle/
**/local.properties

# Dart
.dart_tool/
.packages

# Flutter
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.flutter-plugins-version
**/.packages
**/flutter/.pub-cache/
**/flutter/bin/cache/
**/flutter/bin/flutter_tools.stamp
**/flutter/packages/
**/flutter/test/
**/flutter/.dart_tool/
**/flutter/generated/

# Miscellaneous
*.iml
*.log
.DS_Store
